/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** The div container for the whole web application */
#gwtContainerBody {
	border: 15px 6px 6px;
	border-color: #222222;
	font-family: Verdana, Times, serif;	
}

.huni-vl-root-layout {
	margin: 10px 10px 10px;
	/* background-color: #FFF09B; HuNI Yellow */
}

/** Header Name */
.headerName {
	font-size: 1.5em;
	color: #777777;
	text-align: left;
	margin: 15px 6px 6px;
	font-family: Verdana, Times, serif;
}

.huni-vl-page-header {
	padding: 5px 5px 5px 5px;
	background-image: url('resources/images/bg-texture.png');
}

.huni-vl-banner-title {
	font-family: Signika, sans-serif;
	font-size: 25px;
	color: white;	
	background-color: rgba(3, 143, 166, 0.898438);
	padding: 5px 20px 5px 20px;
}

.huni-crud-button-bar {
	margin: 5px 0px 5px 0px;
}


.huni-toolkits-tools-list {
	margin: 0px 5px 0px 5px;
}

.huni-projects-datasources-list {
	margin: 0px 5px 0px 5px;
}

.huni-tool-details {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
}

.huni-tool-frame  .middleCenter{
	margin: 0px 2px 0px 10px;
}


.huni-catalog-list {
	margin: 0px 5px 0px 5px;
}


.huni-history-list {
	margin: 0px 5px 0px 5px;
}

.huni-popup {
	font-family: Signika, sans-serif;
	font-size: 12px;
	background-color: rgba(3, 143, 166, 0.898438);
	color: white;
	width: 200px;
	overflow: auto;
	padding: 5px 5px 5px 5px;
}

h1.huni-popup {
	font-size: 14px;
	color: white;
	margin: 0px 0px 0px 0px;	
	width: 180px;
	text-align: left;
}


.huni-introduction {
	margin: 0px 5px 0px 5px;
}

.huni-introduction-frame   .middleCenter{
	margin: 5px 5px 5px 5px;
}

.huni-slide-show {
	background-color: #CCFFFF;
	margin: 0px 5px 0px 5px;
}

.huni-about-label {
	color: #666633;
	margin: 0px 5px 0px 5px;
}




/* Get those round corners in the decorator panel */
 .gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
 }
