<div id="feedbackModal" class="modal" tabindex="-1" role="dialog"
	aria-labelledby="feedbackModalLabel" aria-hidden="true">
	
	<form id="feedback-form" class="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 id="feedbackModalLabel">Feedback</h3>
			<div id="feedbackContext">Context: {{context()}}</div> <!-- {{currentLocation}} -->
		</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="feedbackRating" id="feedBackRatingLabel" >Rating</label>
					<div class="controls">
						<div class="btn-group" data-toggle="buttons-radio" role="radiogroup" aria-labelledby="feedBackRatingLabel feedbackModalLabel">
							<button type="button" class="btn btn-primary" role="radio" ng-model="rating" btn-radio="1">1</button>
							<button type="button" class="btn btn-primary" role="radio" ng-model="rating" btn-radio="2">2</button>
							<button type="button" class="btn btn-primary" role="radio" ng-model="rating" btn-radio="3">3</button>
							<button type="button" class="btn btn-primary" role="radio" ng-model="rating" btn-radio="4">4</button>
							<button type="button" class="btn btn-primary" role="radio" ng-model="rating" btn-radio="5">5</button>
						</div>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="feedbackComments" id="feedbackCommentsLabel">Comments</label>
					<div class="controls">
						<textarea rows="3" id="feedbackComments" aria-labelledby="feedbackCommentsLabel feedbackModalLabel" ng-model="comment"></textarea>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn" aria-hidden="true" ng-click="feedback(false)">Cancel</button>
				<button class="btn btn-primary" ng-click="feedback(true)">Submit</button>
			</div>
	</form>

</div>
