<div id="projectModal" class="modal" tabindex="-1" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true">
	
	<form id="project-form" name="form" class="css-form" novalidate>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="apply(false)">&times;</button>
			<h3 id="projectModalLabel">Create a Project</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="projectName">Project name*</label>
				<div class="controls">
					<input type="text" id="projectName" name="projectName" placeholder="Name"  ng-model="proposedProject.name"  ng-required="true" ng-minlength="5" ng-maxlength="200">
				</div>
				<div ng-show="form.projectName.$dirty && form.projectName.$invalid">Invalid:
					<span ng-show="form.projectName.$error.required">enter your preferred name.</span>
					<span ng-show="form.projectName.$error.minlength">the name is too short.</span>
					<span ng-show="form.projectName.$error.maxlength">the name is too long.</span>
				</div>
			</div>
<!-- 			
			<div class="control-group">
				<label class="control-label" for="projectStartDate">Start date*</label>
				<div class="controls">
					<input type="text" id="projectStartDate" name="projectStartDate" placeholder="Start Date"  ng-model="proposedProject.startDate" ng-required="true"  required ng-minlength="1" ng-maxlength="60">
				</div>
				<div ng-show="form.projectStartDate.$dirty && form.projectStartDate.$invalid">Invalid:
					<span ng-show="form.projectStartDate.$error.required">enter your start date.</span>
					<span ng-show="form.projectStartDate.$error.minlength">the start date is too short.</span>
					<span ng-show="form.projectStartDate.$error.maxlength">the start date is too long.</span>
				</div>
			</div>
 -->			
 			<div class="control-group">
				<label class="control-label" for="projectStartDate">Start date* {{proposedProject.startDate | date:'fullDate' }}</label>
 					<div class="controls">
<!-- 						
						<div class="form-horizontal">
							<input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="proposedProject.startDate" open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
							<button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
						</div>
						<pre>Selected date is: <em>{{proposedProject.startDate | date:'fullDate' }}</em></pre>
 -->						
 						<div class="well well-small pull-left" ng-model="proposedProject.startDate">
							<datepicker min="minDate" show-weeks="showWeeks"></datepicker>
						</div>
<!-- 						
						<button class="btn btn-small btn-inverse" ng-click="today()">Today</button>
						<button class="btn btn-small btn-inverse" ng-click="proposedProject.startDate = '2009-08-24'">2009-08-24</button>
						<button class="btn btn-small btn-success" ng-click="toggleWeeks()" tooltip="For inline datepicker">Toggle Weeks</button>
						<button class="btn btn-small btn-danger" ng-click="clear()">Clear</button>
						<button class="btn btn-small" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
						<hr />
 -->						
<!-- 					
						<div ng-show="form.projectStartDate.$dirty && form.projectStartDate.$invalid">Invalid:
							<span ng-show="form.projectStartDate.$error.required">enter your start date.</span>
						</div>
-->				
 				</div>
			</div>			
		</div>
		<div>
			{{failedProject}}
		</div>
		<div class="modal-footer">
			<button class="btn" aria-hidden="true" ng-click="apply(false)">Cancel</button>
			<button class="btn btn-primary" ng-click="apply(true)" ng-disabled="form.$invalid || isUnchanged(proposedProject)">Submit</button>
		</div>
	</form>
	
</div>

