
<style type="text/css">
<!--    
.notebook
{
	line-height: 1.5;
}

.tool-history-name
{
	font-size: 12px;
	margin: 0px;
	text-align: left;
    list-style-image: none;
    line-height: 12px;
}

.activity-date
{
	font-size: 10px;
	line-height: 1.5;
	padding:2px;
	margin: 0px;
}

.activity-item
{
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	padding: 9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:green;
	background-color:rgba(0, 255, 0, 0.2);
	border: 1px solid green;
	padding:5px;
	line-height: 1.5;
}

.parameter-item
{	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	line-height: 1.5;
}
 -->
</style>

<h4>Notebook</h4>
<div ng-controller="HistoryCtrl" ng-init="fetchHistory()">
	<div class = "well">
		<ul class="notebook">
		    <li ng-repeat="action in actions"  style="list-style-image: none; line-height: 1.25;">
		    	<div class="tool-history-name" >{{action.toolName}}</div>
			    <div class="activity-date"> ({{action.executionDate}})</div>
		    	<div class="activity-item"  style="background:{{action.backgroundColour}};" >
			    	<div class="parameter-item" ng-repeat="parameter in action.toolParameters">
			    		<span style="font-weight: bold;">{{parameter.name}}:&nbsp;</span><span>{{parameter.amount}}</span>
			    	</div>
		    	</div>			    
		    </li>
		</ul>
	</div>
	<div>
		{{failedHistoryFetch}}
	</div>
	<div style='display: block;'>
		<button id="clearHistory" class="btn btn-small btn-inverse">Clear</button>&nbsp;<button id="exportHistory" class="btn btn-small btn-inverse">Export</button>
	</div>
</div>


 