<h3 class="huni-banner">Workspace</h3>
<div class="container-fluid">

	<div class="row-fluid">
 		<div class="sidebar-nav left">
				<span ng-include src="'partials/project-directory.html'"></span>
				<hr/>
				<span ng-include src="'partials/tool-kit.html'"></span>
		</div>
		<div class="sidebar-nav right">
			<span ng-include src="'partials/tool-history.html'"></span>
		</div>
		<div class="content fixed-fixed" style="padding-top: 10px">
			<h4 style="clear: none;">Selected tool</h4>
			<div id="gadgetArea">
				<div id="gadgetSite" style="background-color: #DDDDDD; border-style: inset; border-width: 1px; min-height: 200px; ">
				<div style="font-size: 32px; font-weight: bold; text-align: center; color: #FEFEFE; text-indent: 1px; position: relative; top: 64px; margin: 1px;">
					Select a tool from the toolkit.
				</div>
				</div>
				<div style="height: 5px;">&nbsp;</div>
				<div id="output" style="background-color: #FFEEDD; border-style: inset; border-width: 1px; min-height: 100px;"></div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div ng-include="'partials/feedback-button.html'"></div>
	</div>
</div>
