<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Humanities Networked Infrastructure (HuNI) Virtual Laboratory - Group Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar"> <!-- header start -->
      <div class="navbar-inner">
        <div class="container">

          <div id="user-information"> <!-- user information -->
            <ul>
             <li>Welcome back, Researcher!</li>
              <li><a href="#">Profile</a></li>|
              <li><a href="#">Settings</a></li>|
              <li><a href="#">Logout</a></li>
            </ul>         
          </div>

          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <!-- navigation toggle button -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">HuNI Virtual Lab</a>
          <div class="nav-collapse collapse"> <!-- primary navigation -->
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About HuNI</a></li>
              <li><a href="browse.html">Browse/Search</a></li>
              <li><a href="members.html">Members/Partners</a></li>
              <li><a href="help.html">Tutorials/Help</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="person.html">Person Record</a></li>
              <li class="active"><a href="group.html">Group Record</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div> <!-- header end -->

    <div class="container-fluid"> <!-- main content start -->

    <div class="row-fluid">
      <div class="span3" id="column-first">
        <h4>History Log</h4>

            <p>A chronological list of pages that have been previously viewed.</p>

            <ul id="history">
              <li>CSIRO Division of Radiophysics</li>
              <li><a href="#">Groups</a></li>
            </ul>
      </div>

      <div class="span6 record" id="column-second">
        <h3><img src="img/icon_group.gif" /> CSIRO Division of Radiophysics</h3>
            
            <ul>
              <li class="category"><a href="#">Formed:</a></li> 
              <li class="result"><a href="#">1st January 1940</a></li>
              <li class="category"><a href="#">Dissolved:</a></li> 
              <li class="result"><a href="#">20th September 1996</a></li>
              <li class="citation"><a href="#">This set of results was generated from: Lorem ipsum.</a></li>
            </ul>

            <ul>
              <li class="category"><a href="#">Former and Current Members:</a></li> 
              <li class="result"><a href="#">Brian John Robinson</a></li>
              <li class="result"><a href="#">Marie Coutts Clark</a></li>
              <li class="result"><a href="#">Wilbur Norman Christianse</a></li>
              <li class="result"><a href="#">Bernard Yarnton Mills</a></li>
              <li class="result"><a href="#">Edward R. Wishart</a></li>
              <li class="result"><a href="#">Robert Henry Frater</a></li>
              <li class="result"><a href="#">John Brooks</a></li>
              <li class="result"><a href="#">W. F. Evans</a></li>
              <li class="result"><a href="#">David Forbes Martyn</a></li>
              <li class="result"><a href="#">John O'Sullivan</a></li>
              <li class="result"><a href="#">Diethelm Ostry</a></li>
              <li class="result"><a href="#">Reginald D. Ryan</a></li>
              <li class="result"><a href="#">Ernest Edward  Adderley</a></li>
              <li class="result"><a href="#">John Hobetr Piddington</a></li>
              <li class="result"><a href="#">Trevor Pearcey</a></li>
              <li class="citation"><a href="#">This set of results was generated from: Dolor sit amet.</a></li>
            </ul>
      </div>

      <div class="span3 record" id="column-third">
        <h4>This Might Interest You</h4>

            <p>A list of related links sorted by category related to the main content.</p>

            <h5>Heading</h5>
            <ul>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Dolor sit amet</a></li>
            </ul>

            <h5>Heading</h5>
            <ul>
              <li><a href="#">Tempor ligula</a></li>
              <li><a href="#">Eu tempor diam</a></li>
              <li><a href="#">Consectetur adipiscing elit</a></li>
              <li><a href="#">Fusce gravida</a></li>
              <li><a href="#">Porta nibh</a></li>
            </ul>

            <h5>Heading</h5>
            <ul>
              <li><a href="#">Sed lobortis</a></li>
              <li><a href="#">Orci fermentum vel</a></li>
              <li><a href="#">Etiam luctus</a></li>
              <li><a href="#">Cursus a</a></li>
              <li><a href="#">Maecenas egestas augue</a></li>
              <li><a href="#">Nec urna</a></li>
              <li><a href="#">Adipiscing ante mattis</a></li>
            </ul>
      </div>
     
</div> <!-- main content end -->   

    <footer> <!-- footer start -->
      <div class="row-fluid">
      <div class="footer-column span4">
        <p>&copy; 2012 HuNI HuNI is proud to be working in partnership with the NeCTAR (National eResearch Collaboration Tools and Resources) project to create an online research community around Australia's cultural datasets. This project will benefit Australian researchers by providing them with access to a wealth of combined resources and the tools with which to analyse and share them, thus enhancing their research outcomes. </p>
      </div>
      
      <div class="footer-column span4">
        <h4>Brought to you by:</h4>
        <a href="#"><img src="img/logo_nectar.gif" width="176" height="99" alt="Nectar" /></a>
        <a href="#"><img src="img/logo_deakin.gif" width="98" height="99" alt="Deakin" /></a>
      </div>

      <div class="footer-column span4">
        <h4>Connect with us!</h4>
        <div id="footer-social">
        <a href="#"><img src="img/img_facebook.gif" /></a> <a href="#"><img src="img/img_google.gif" /></a> <a href="#"><img src="img/img_twitter.gif" /></a> <a href="#"><img src="img/img_skype.gif" /></a> <a href="#"><img src="img/img_linkedin.gif" /></a>
      </div>
      </div>
    </div>
    </footer> <!-- footer end -->
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>
</html>
