<div ng-controller="SearchController" ng-init="init()">
    <p class="hero-unit text-center">Unlocking and uniting Australia's cultural datasets</p>
    <form class="form-search text-center">
        <input type="text" class="input-xxlarge search-query" 
            placeholder="What are you looking for today?" ng-model="query" 
            autofocus="autofocus" />
        <button type="submit" class="btn btn-success" ng-click="search()">Search</button>
    </form-search>
    <br/>
    <br/>
    <p>If you're not sure, just press the Search button and start exploring.</p>
    <hr/>
    <div class="">
        <p>
            The Humanities Networked Infrastructure (HuNI) is a national ‘virtual laboratory’ project
            that is being developed as part of the Australian government’s
            <a href="http://nectar.org.au" target="_blank">NeCTAR (National e-Research Collaboration Tools 
            and Resources)</a> program. HuNI is using the Linked Data framework to combine information 
            from 28 of Australia’s most significant cultural datasets. These datasets comprise more than 
            2 million authoritative records relating to the people, objects and events that make up the 
            country’s rich heritage.
            <br/>
            <a href="http://huni.net.au" target="_blank">Read more about HuNI</a>
        </p>
    </div>
    <div class="text-center">
        <h4>Searching {{ndocuments}} records covering {{nentity_types}} entity types from {{nproviders}} datasources.</h4>
    </div>
</div>
