<style type="text/css">
<!--    
.event-item
{
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	padding: 9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:green;
	background-color:rgba(0, 255, 0, 0.2);
	border: 1px solid green;
}
 -->
</style>

<div class="row-fluid">
	<h3>Events</h3>
</div>

<!-- Layout the search form. -->
<div class="row-fluid">      
	<div>
		<form id="eventsname-search-form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="eventsNameSearchQuery">Event name:</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="eventsNameSearchQuery" placeholder="Melbourne Cup" ng-model="eventsName"/>
					<button type="submit" class="btn" ng-click="eventsByEventName()">Search</button>
					<span class="help-inline"><i class="icon-info-sign"></i>Help...</span>
				</div>
			</div>
  		</form>
	</div>
</div>

<!-- Layout the results table with pagination and an export button. -->
<div class="row-fluid">
	<pagination on-select-page="turnPage(page)" num-pages="noOfPages" current-page="currentPage" previous-text="&laquo;" next-text="&raquo;" class="pagination-centered" ></pagination>
 	<table class="table table-striped">
		<thead>
			<tr>
				<th>Event name</th>
				<th>Date</th>
				<th>Location</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in response.results.bindings">
				<th>{{event.eventName.value}}</th>
				<td>{{event.eventDate.value}}</td>
				<td>{{event.eventLocation.value}}</td>
				<td>{{event.typeName.value}}</td>
			</tr>
		</tbody>
	</table>
	<a href="{{exportUrl}}" type="text/csv" target="_blank" class="btn btn-success">Export</a>
</div>


