    <div class="container-fluid"> <!-- main content start -->

      <div class="row-fluid">
         <h2>About HuNI</h2>
      </div>

    <div class="row-fluid" style="column-count:3; -moz-column-count:3; -webkit-column-count:3; ">
     
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in dui non tellus fermentum feugiat non pellentesque quam. Morbi molestie malesuada ipsum sit amet iaculis. Phasellus congue, lacus in convallis auctor, neque est venenatis sem, a luctus dui eros eget nibh. Praesent tincidunt elit eget mi consequat id hendrerit augue pretium. Nulla facilisi. Cras ante nibh, viverra a lobortis a, condimentum eu velit. Aliquam erat volutpat. Ut luctus, quam quis varius ullamcorper, erat purus mattis augue, vel pellentesque nulla quam nec odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum velit libero, sagittis eu condimentum nec, imperdiet sed nulla. Aliquam sit amet metus ac quam varius tempus. Sed a odio ipsum, nec molestie nisl. Nunc elementum aliquet condimentum. Praesent sit amet nisl ante, ut eleifend urna.</p>

<p>Integer elit ipsum, luctus vel rutrum non, viverra quis nisl. Suspendisse feugiat rhoncus massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam eu erat at leo consequat congue sed ut justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam posuere aliquet pulvinar. Integer placerat, velit eu facilisis ultrices, lorem justo convallis leo, eget tempus lorem massa vel ligula. Aliquam rutrum porta enim eu feugiat. Nullam non lectus arcu. Phasellus eu leo orci. </p>
	<!-- Button to trigger feedback modal - feedback-modal.html -->
	<a href="#feedbackModal" role="button" data-toggle="modal" class="btn btn-info">Feedback</a>
</div> <!-- main content end -->     
