<style type="text/css">
<!--    
.carousel6
{
	height: 140px;
}
 -->
</style>
<div class="carousel6" ng-controller="CarouselCtrl">
	<div class="span2">
		<img ng-src="{{carousel[0]}}" />
	</div>
	<div class="span2">
		<img ng-src="{{carousel[1]}}" />
	</div>
	<div class="span2">
		<img ng-src="{{carousel[2]}}" />
	</div>
	<div class="span2">
		<img ng-src="{{carousel[3]}}" />
	</div>
	<div class="span2">
		<img ng-src="{{carousel[4]}}" />
	</div>
	<div class="span2">
		<img ng-src="{{carousel[5]}}" />
	</div>
 </div>
