<div class="container-fluid">
	<!-- main content start -->

	<div class="row-fluid">
		<h2>Help</h2>
	</div>

	<div class="row-fluid">
		<div class="span9">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
				fermentum erat purus, sit amet rhoncus felis. Sed fringilla rhoncus
				nisl mattis pellentesque. Nam eros metus, commodo et accumsan sed,
				egestas quis tortor. Morbi sapien purus, accumsan non tempus quis,
				condimentum ut nulla.</p>

			<h3>Getting Started</h3>
			<p>Aliquam erat volutpat. Integer auctor felis non metus feugiat
				a vestibulum enim cursus. Etiam nec nibh sed mauris vulputate
				sollicitudin. Praesent mi metus, ultricies eget consequat et, tempus
				eu nibh. Ut nec aliquam erat. In in tortor dui, vitae dignissim
				libero. Donec adipiscing mi eu risus elementum vehicula. Suspendisse
				potenti. Cras bibendum volutpat luctus. Donec semper tellus lorem.</p>

			<div class="row-fluid">
				<div class="span4">
					<h3>FAQ</h3>
					<p>Fusce sollicitudin scelerisque purus vitae pellentesque.
						Suspendisse potenti. Mauris a est quis urna malesuada dignissim
						sed nec odio. Nulla facilisi. Aenean et massa vitae ipsum
						ultricies venenatis. Proin lacinia nulla nec tellus tincidunt quis
						dignissim lorem tincidunt.</p>
				</div>

				<div class="span4">
					<h3>Tips and Tricks</h3>
					<p>Proin porta adipiscing facilisis. Ut imperdiet, erat eget
						gravida consectetur, libero justo iaculis metus, nec porttitor est
						sem adipiscing eros.</p>
				</div>

				<div class="span4">
					<h3>Tutorial Videos</h3>
					<p>Integer porttitor, arcu sit amet tempor porta, quam erat
						eleifend lorem, eu accumsan tellus nulla sit amet sapien. Etiam
						eleifend massa porttitor arcu iaculis iaculis. In hac habitasse
						platea dictumst. Aliquam erat volutpat. Morbi at arcu mauris.
						Morbi lobortis metus id purus vestibulum et rhoncus eros
						facilisis.</p>
				</div>
			</div>
		</div>
		<div class="span3">

			<h4>Sidebar</h4>
			<p>Navigation and links can go here.</p>

		</div>
	</div>
	<div class="row-fluid">
		<!-- Button to trigger feedback modal - feedback-modal.html -->
		<a href="#feedbackModal" role="button" data-toggle="modal"
			class="btn btn-info">Feedback</a>
	</div>
</div>

