<div class="container-fluid">

	<div class="row-fluid">
		<div class="span3" ng-controller="DocumentStatisticsCtrl" ng-init="init()">
			<div>
				<img src="./img/huni_dataproviders.png" />
			</div>
			<h5>The HuNI Data Providers</h5>
			Totalling {{ndocuments}} records covering {{nentity_types}} entity
			types from {{nproviders}} datasources.
			<ul>
				<li><a href="http://www.afiresearch.rmit.edu.au" target="_blank">AFI Research Collection</a></li>
				<li><a href="http://www.ausstage.edu.au/pages/browse" target="_blank">AusStage</a></li>
				<li><a href="http://womenaustralia.info" target="_blank">The Australian Women's Register</a></li>
				<li><a href="http://www.bonzadb.com.au/" target="_blank">BONZA - National Cinema & Television Databases</a></li>
				<li><a href="http://caarp.flinders.edu.au" target="_blank">CAARP - Cinema and Audiences Research Project Database</a></li>
				<li><a href="http://www.eoas.info" target="_blank">Encyclopedia of Australian Science</a></li>
				<li><a href="http://findandconnect.gov.au" target="_blank">Find and Connect</a></li>
				<li><a href="http://www.saulwick.info" target="_blank">Saulwick Polls & Social Research</a></li>
				<li><a href="http://www.wallabyclub.org.au/" target="_blank">The Wallaby Club Inc.</a></li>
			</ul>
		</div>
		<div class="span6">
			<div class="search-container">
				<h2>Aggregated Data Search</h2>

				<div class="accordion" id="searchAccordian">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#searchAccordian" href="#collapseSimpleSearch">
								Simple Search
							</a>
						</div>
						<div id="collapseSimpleSearch" class="accordion-body collapse in">
							<div class="accordion-inner" ng-controller="SimpleSearchController" ng-init="init()">
								<form class="searchbox">
									<div class="input-prepend">
										<input id="simpleSearch" type="text" name="text"
											placeholder="Type your search here to begin!"
											ng-model="query" autofocus="autofocus"> <input
											id="submitSimpleSearch" type="submit" value="Search"
											ng-click="search()">
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#searchAccordian" href="#collapseDeepSearch">
								Deep Search
							</a>
						</div>
						<div id="collapseDeepSearch" class="accordion-body collapse">
							<div class="accordion-inner" ng-controller="DeepSearchController">
								<form class="searchbox">
									<div class="input-prepend">
										<div class="btn-group">
											<button class="btn dropdown-toggle" data-toggle="dropdown">
												All fields <span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li>Advanced</li>
												<li>-</li>
												<li>People</li>
												<li>Places</li>
												<li>Objects</li>
												<li>Events</li>
											</ul>
										</div>
										<input id="deepSearch" type="text" name="text" placeholder="Type your search here to begin!" ng-model="keywords">
									</div>
									<input id="submitDeepSearch" type="submit" value="Search" ng-click="search()">
								</form>
							</div>
						</div>
					</div>
				</div>

				<span style="float: left;"><form>
						<input type="checkbox" name="records" value="yes">Include
						similar/related records
					</form></span> <span style="float: right; margin-bottom: 20px;">Stuck? Try
					the <a ng-href="#/advanced-search">Advanced Search</a>!
				</span>

				<h4>Find and get more than 2 million records on the people,
					places, objects and events that make up Australia's rich cultural
					heritage.</h4>

				<div class="entry first">
					<div class="people-background">
						<a href="#/familyname-search">People</a>
					</div>
				</div>
				<div class="entry">
					<div class="places-background">
						<a href="#/placename-search">Places</a>
					</div>
				</div>
				<div class="entry first">
					<div class="objects-background">
						<a href="#/objectname-search">Objects</a>
					</div>
				</div>
				<div class="entry">
					<div class="events-background">
						<a href="#/eventname-search">Events</a>
					</div>
				</div>
			</div>
		</div>
		<div class="span3"></div>
	</div>
	<div class="row-fluid">
		<!-- Button to trigger feedback modal - feedback-modal.html -->
		<a href="#feedbackModal" role="button" data-toggle="modal"
			class="btn btn-info">Feedback</a>
	</div>
</div>
