    <div class="container-fluid"> <!-- main content start -->

      <div class="row-fluid">
        <div class="search-container">
        <h2>Aggregated Data Search</h2>

			<div class="accordion" id="searchAccordian">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse"
							data-parent="#searchAccordian" href="#collapseSimpleSearch">
							Simple Search </a>
					</div>
					<div id="collapseSimpleSearch" class="accordion-body collapse in">
						<div class="accordion-inner" ng-controller="SearchController" ng-init="init()">
							<form class="searchbox">
								<div class="input-prepend">
									<input id="simpleSearch" type="text" name="text"
										placeholder="Type your search here to begin!"
										ng-model="query"
										autofocus="autofocus">
									<input id="submitSimpleSearch" type="submit" value="Search"  ng-click="search()">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse"
							data-parent="#searchAccordian" href="#collapseDeepSearch">
							Deep Search </a>
					</div>
					<div id="collapseDeepSearch" class="accordion-body collapse">
						<div class="accordion-inner">
							<form class="searchbox"
								action="http://corbicula.huni.net.au/facet-browser/facet-browser.html"
								method="get">
								<div class="input-prepend">
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											All fields <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li>Advanced</li>
											<li>-</li>
											<li>People</li>
											<li>Places</li>
											<li>Objects</li>
											<li>Events</li>
										</ul>
									</div>
									<input id="deepSearch" type="text" name="text"
										placeholder="Type your search here to begin!">
								</div>
								<input id="submitDeepSearch" type="submit" value="Search">
							</form>
						</div>
					</div>
				</div>
			</div>

            <span style="float:left;"><form><input type="checkbox" name="records" value="yes">Include similar/related records</form></span>
			<span style="float:right; margin-bottom: 20px;">Stuck? Try the <a ng-href="#/advanced-search">Advanced Search</a>!</span>

            <h4>Find and get more than 2 million records on the people, places, objects and events that make up Australia's rich cultural heritage.</h4>

            <div class="entry first">
            	<div class="people-background">
            		<a href="#/familyname-search">People</a>
            	</div>
            </div>
            <div class="entry">
            	<div class="places-background">
            		<a href="#/placename-search">Places</a>
            	</div>
            </div>
            <div class="entry first">
            	<div class="objects-background">
            		<a href="#/objectname-search">Objects</a>
            	</div>
            </div>
            <div class="entry">
            	<div class="events-background">
            		<a href="#/eventname-search">Events</a>
            	</div>
            </div>
            </div>
      </div>
	<!-- Button to trigger feedback modal - feedback-modal.html -->
	<a href="#feedbackModal" role="button" data-toggle="modal" class="btn btn-info">Feedback</a>

    </div> <!-- main content end -->     
