<style type="text/css">
<!--    
.tool-library-name
{
	font-size: 14px;
	line-height: 1.25;
	padding:1px;
	margin: 0px;
	text-align: left;
	font-weight: bold;
	vertical-align: top;
}

.tool-library-label
{
	font-size: 12px;
	line-height: 1.25;
	padding:1px;
	margin: 0px;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}

.tool-library-value
{
	font-size: 12px;
	line-height: 1.25;
	padding:1px;
	margin: 0px;
	vertical-align: top;	
}
 -->
</style>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="tool-listing">
        <li ng-repeat="tool in toolLibrary | filter:query | orderBy:orderProp" class="thumbnail">
	        <table>
	        	<tr>
	        		<td rowspan="2" class="tool-listing-thumb"><img ng-src="{{tool.thumbnailUrl}}"></td>
	        		<td style="text-align: left; ">
	        			<h4 class="tool-library-name">{{tool.name}}</h4>
						<table>
							<tbody>
							<tr>
								<th class="tool-library-label">Creation date:</th><td class="tool-library-value">{{tool.creationDate}}</td>
								</tr>
								<tr>
								<th  class="tool-library-label">Software version:</th><td class="tool-library-value">{{tool.softwareVersion}}</td>
								</tr>
								<tr>
								<th  class="tool-library-label">Author:</th><td class="tool-library-value">{{tool.author}}</td>
								</tr>
								<tr>
								<th  class="tool-library-label">Description:</th><td class="tool-library-value">{{tool.description}}</td>
								</tr>
							</tbody>
						</table>
	        		<td>
	        	</tr>
	        </table>
        </li>
      </ul>

    </div>
  </div>
	<div class="row-fluid">
		<div ng-include="'partials/feedback-button.html'"></div>
	</div>
</div>
