<div class="container-fluid">

	<div class="row-fluid">
		<h2>Workspace</h2>
	</div>

	<div class="row-fluid">

 		<div class="well sidebar-nav left">
			<div ng-controller="ProjectDirectoryCtrl">
				<span ng-include src="'partials/project-directory.html'"></span>
			</div>
			<div ng-controller="ToolKitCtrl">
				<span ng-include src="'partials/tool-kit.html'"></span>
			</div>
		</div>


		<div class="well sidebar-nav right">
			<div ng-controller="HistoryCtrl">
				<span ng-include src="'partials/tool-history.html'"></span>
			</div>
		</div>

		<div class="content fixed-fixed">
			<div id="gadgetArea">
				<div id="gadgetSite"></div>
				<div id="output"></div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div ng-include="'partials/feedback-button.html'"></div>
	</div>
</div>
