    <div class="container-fluid"> <!-- main content start -->

      <div class="row-fluid">
        <div class="search-container">
        <h2>Aggregated Data Search</h2>
        <form class="searchbox" action="http://corbicula.huni.net.au/facet-browser/facet-browser.html" method="get">

    <div class="input-prepend">
    <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
   All fields
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
    <li>Advanced</li>
    <li>-</li>
    <li>People</li>
    <li>Places</li>
    <li>Objects</li>
    <li>Events</li>
    </ul>
    </div>
    <input id="search" type="text" name="text" placeholder="Type your search here to begin!">
    </div>

                
                <input id="submit" type="submit" value="Search">
            </form>

            <span style="float:left;"><form><input type="checkbox" name="records" value="yes">Include similar/related records</form></span>
            <span style="float:right; margin-bottom: 20px;">Stuck? Try the <a ng-href="#/advanced-search">Advanced Search</a>!</span>

            <h4>Find and get more than 2 million records on the people, places, objects and events that make up Australia's rich cultural heritage.</h4>

            <div class="entry first">
            	<div class="people-background">
            		<a href="#/familyname-search">People</a>
            	</div>
            </div>
            <div class="entry">
            	<div class="places-background">
            		<a href="#/placename-search">Places</a>
            	</div>
            </div>
            <div class="entry first">
            	<div class="objects-background">
            		<a href="#/objectname-search">Objects</a>
            	</div>
            </div>
            <div class="entry">
            	<div class="events-background">
            		<a href="#/eventname-search">Events</a>
            	</div>
            </div>
            </div>
      </div>

    </div> <!-- main content end -->     
