     <div class="container-fluid">
      <div class="row-fluid">

          <div class="well sidebar-nav left">
			<div  ng-controller="ProjectDirectoryCtrl" >		 
			 	<span  ng-include src="'partials/project-directory.html'"></span >
			</div>
			<div  ng-controller="ToolKitCtrl" >		 
			 	<span  ng-include src="'partials/tool-kit.html'"></span >
			</div>
 		</div><!--/.well -->


          <div class="well sidebar-nav right">
			<div  ng-controller="HistoryCtrl" >		 
			 	<span  ng-include src="'partials/tool-history.html'"></span >
			</div>
           </div><!--/.well -->

        <div class="content fixed-fixed">
            <div id="gadgetArea">
	            <div id="gadgetSite">
	            </div>
	            <div id="output">
	            </div>
            </div>
        </div><!--/span-->
      </div><!--/row-->
    </div>
    <!--/.fluid-container-->
 