<h3>What is HuNI?</h3>

<p>
The Humanities Networked Infrastructure (HuNI) is a national 'virtual laboratory' project that is 
being developed as part of the Australian government’s NeCTAR (National e-Research Collaboration Tools and 
Resources) program.
</p>
<p>HuNI is combining information from 28 of Australia’s most significant cultural datasets. These datasets 
comprise more than 2 million authoritative records relating to the people, objects and events that make up the 
country’s rich heritage. HuNI is also deploying an integrated suite of software tools that enable researchers 
to work with this large-scale aggregation of Linked Data.
</p>
<p>It is being developed as a partnership between 13 public institutions, led by Deaking University.</p>
<strong class="text-center">HuNI will transform the future of research methods in the humanities and creative arts. </strong>

<hr/>
<div>
    <div class="span6">
        <h3>Acknowledgements - Technology</h3>
        <ul>
           <li><a href="http://twitter.github.io/bootstrap" target="_blank">Twitter Boostrap:</a>&nbsp;CSS is amazing (read: unbelievably
           powerful and complex); bootstrap makes it fun.</li>
           <li><a href="http://angularjs.org" target="_blank">AngularJS:</a>&nbsp;How the web would have looked if invented by Google.</li>
           <li><a href="www.esrc.unimelb.edu.au" target="_blank">eScholarship Research Centre</a>:&nbsp;A large portion of the code
           for this site has been shamelessly taken from their 
            <a href="http://isis.esrc.unimelb.edu.au" target="blank">ISIS Current Bibliography site</a> (don't worry, open license and
            same developer so it's all good).
        </ul>
    </div>
    <div class="span6">
        <h3>Acknowledgements - The Data Providers</h3>
        <ul>
            <li><a href="http://www.afiresearch.rmit.edu.au" target="_blank">AFI Research Collection</a></li>
            <li><a href="http://www.ausstage.edu.au/pages/browse" target="_blank">AusStage</a></li>
            <li><a href="http://womenaustralia.info" target="_blank">The Australian Women's Register</a></li>
            <li><a href="http://www.bonzadb.com.au/" target="_blank">BONZA - National Cinema & Television Databases</a></li>
            <li><a href="http://caarp.flinders.edu.au" target="_blank">CAARP - Cinema and Audiences Research Project Database</a></li>
            <li><a href="http://www.eoas.info" target="_blank">Encyclopedia of Australian Science</a></li>
            <li><a href="http://findandconnect.gov.au" target="_blank">Find and Connect</a></li>
            <li><a href="http://www.saulwick.info" target="_blank">Saulwick Polls & Social Research</a></li>
            <li><a href="http://www.wallabyclub.org.au/" target="_blank">The Wallaby Club Inc.</a></li>
        </ul>
    </div>
</div>
